# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
env/
venv/
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/

# PyInstaller
*.spec

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local DBs
Aria/aria.db

